.App{
  position: relative;
  background-color: teal;
}

.body-wrapper{
  text-align: center;
  position: absolute;
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-image{
  width: 1536px;
  height: 792px;
  height: 792px;
  object-fit: cover;
}

.container{
  position: absolute;
  width: 1536px;
  height: 792px;
  z-index: 1000;
  color: white;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 792px;
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px 30px;
  gap: 20px;
}

.page-link{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: normal;
}

