.App{
  position: relative;
  background-color: teal;
}

.body-wrapper{
  text-align: center;
  position: absolute;
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-image{
  width: 1536px;
  height: 792px;
  height: 792px;
  object-fit: cover;
}

.container{
  position: absolute;
  width: 1536px;
  height: 792px;
  z-index: 1000;
  color: white;
}

.section-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 792px;
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 20px;
  gap: 25px;
  align-items: center;
}

.page-link{
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: normal;
}

.page-link:hover{
  text-decoration: underline;
}

.my-image{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.google-apps{
  height: 15px;
  width: 15px;
  cursor: pointer;
}


.middle-section{
  height: 500px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.google-image{
  width: 272px;
  height: 92px;
  margin-bottom: 40px;
}

.search-box{
  width: 560px;
  height: 40px;
  border-radius: 30px;
  border: none;
  text-indent: 40px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255,0.3);
  color: black;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.search-box::placeholder{
  color: black;
}

.search-box:focus{
  background-color: rgba(255, 255, 255,0.7);
}

t.extarea:focus, .search-box:focus{
  outline: none;
}

.short-cut-wrapper{
  display: flex;
  width: 560px;
  height: 224px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 

}

.short-cut{
  height: 110px;
  width: 110px;
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.short-cut:hover{
  background-color: rgba(255, 255, 255,0.3);
}

.shortcut-icon{
  height: 30px;
  width: 30px;
}

.icon-container{
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.shortcut-name{
  margin: 0;
  font-size: 14px;
}

.bottom-section{
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  position: relative;
}

.pencil-button{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pencil-button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.pencil-icon{
  height: 12px;
}

.customize-wrapper{
  background-color: rgba(255, 255, 255, 0.5);
  height: 170px;
  width: 170px;
  border-radius: 10px;
  position: absolute;
  top: -190px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items{
  text-align: right;
}

.list-items > p{
  color: black;
  font-size: 17px;
  background-color: red;
  height: 30px;
  width: 120px;
  padding-right: 15px;
  border-radius: 15px;
  
}